{% extends "base.html" %} {% load widget_tweaks %} {% block content %}

<div class="d-flex justify-content-between align-items-center mt-3 mb-4">
  <a href="{% url 'home' %}" class="btn btn-outline-secondary fs-5"> ← Orqaga </a>

  <h4 class="mb-0">Telefonni tahrirlash</h4>
</div>

<form
  method="POST"
  enctype="multipart/form-data"
  class="w-50 mx-auto p-4 shadow rounded bg-white"
>
  {% csrf_token %} {% for field in form %}
  <div class="mb-3">
    {{ field.label_tag }} 
    {{ field|add_class:"form-control" }} 

    {% if field.errors %}
      <div class="text-danger small">{{ field.errors }}</div>
    {% endif %}
  </div>
{% endfor %}

  <button
    type="submit"
    class="btn btn-primary w-100"
    onclick="return confirm('O‘zgarishlarni saqlaysizmi?');"
  >
    Saqlash
  </button>
</form>

{% endblock content %}
