{% extends "base.html" %} {% block content %}

<div class="container-fluid py-4">
    <div class="card shadow-sm border-0">
        <!-- HEADER -->
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">📦 Hodimlar bo‘limi</h5>
            <a href="{% url 'add_stuff_view' %}" class="btn btn-info">
                + Hodim qo'shish</a>
        </div>

        <!-- TABLE -->
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th>F.I.SH</th>
                        <th>Lavozim</th>
                        <th>Telefon raqam</th>
                        <th>Ishga kelgan sana</th>
                        <th>Ishdan ketgan sana</th>
                        <th>Oylik maosh</th>

                        <th class="text-end">Amallar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stuff in stuffs %}
                    <tr class="clickable-row align-middle" data-url="{% url 'open_stuff_details_view' stuff.pk %}" style="cursor: pointer;">

                        <!-- USER -->
                        <td>
                            <div class="d-flex align-items-center gap-2">

                                <div style="width:50px; height:50px;">
                                    {% if stuff.photo %}
                                    <img src="{{ stuff.photo.url }}" alt="{{ stuff.full_name }}" class="rounded-circle"
                                        style="width:50px; height:50px; object-fit:cover;">
                                    {% else %}
                                    <div class="d-flex justify-content-center align-items-center bg-light rounded-circle"
                                        style="width:50px; height:50px;">
                                        <i class="fa-solid fa-user text-secondary"></i>
                                    </div>
                                    {% endif %}
                                </div>

                                <strong>{{ stuff.full_name|default:"No name" }}</strong>
                            </div>
                        </td>

                        <!-- ROLE -->
                        <td>
                            <span class="badge bg-primary">
                                {{ stuff.role|default:"-" }}
                            </span>
                        </td>

                        <!-- PHONE -->
                        <td>{{ stuff.phone|default:"-" }}</td>

                        <!-- HIRED DATE -->
                        <td>{{ stuff.hired_date|date:"Y-m-d"|default:"-" }}</td>

                        <!-- DEPARTURE -->
                        <td>
                            {% if stuff.departure_date %}
                            {{ stuff.departure_date|date:"Y-m-d" }}
                            {% else %}
                            <span class="text-muted">yo‘q</span>
                            {% endif %}
                        </td>

                        <!-- SALARY -->
                        <td class="text-success fs-5">$ {{ stuff.salary|default:"0"  }}</td>

                        <!-- ACTIONS -->
                        <td>
                            <div class="d-flex justify-content-center gap-2">

                                <a class="btn btn-warning btn-sm" href="{% url 'edit_stuff_view' pk=stuff.pk %}">
                                    <i class="fa-solid fa-pen-to-square text-white"></i>
                                </a>

                                <a class="btn btn-danger btn-sm" onclick="return confirm('Rostdan o‘chirmoqchimisiz?');"
                                    href="{% url 'delete_stuff_view' pk=stuff.pk %}">
                                    <i class="fa-solid fa-trash text-white"></i>
                                </a>

                            </div>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted py-3">
                            Hech qanday ma'lumot yo‘q
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll(".clickable-row").forEach((row) => {
        row.addEventListener("click", () => {
            window.location.href = row.dataset.url;
        });
    });
</script>
{% endblock content %}